@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model Product

    <h2>Delete Confirmed</h2>

    <p>The product has been successfully deleted.</p>

    <a asp-action="Index">Back to List</a>

}
