<!-- Views/KhachHang/Create.cshtml -->
@model KhachHang

<h2>Create KhachHang</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="TenKhachHang">TenKhachHang:</label>
        <input asp-for="TenKhachHang" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DiaChi">SDT:</label>
        <input asp-for="DiaChi" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
